@charset "UTF-8";

body{
	background-color: black;
	font-family: georgia, serif;
	color: purple;

}
.imageThumbnail {
	height: 120px;
}
.detailImage {
	width: 50%;
	height: auto;
}
h1{
	color: white;
}
h2{
	color: red;
}

table{
	text-align: center;
}


#vacaListDiv{

	border: 1px solid purple;
}
#vacaDetailsDiv {
	border: 1px solid red;

}
#newVacaDiv {
	width: 50%;
}
#updateVacaDiv {
	width: 50%;
}